
*{
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
    color:darkslategrey;
    min-width:1280px;
    min-height: 800px;

}
.block{
    border-radius: 45px;
    background-color: rgba(255,255,255,0.9);
    padding:35px;
}
#time_block{
    position:absolute;
    top:0px;
    left:0px;
    opacity:0.7;
    display:none;
}
.show{
    display:block;
}
#root{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 100%;
    padding-top:12%;
    align-items: center;
    gap: 25px;
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 0px;

}

#content{
    display:flex;
    flex-direction:row;
    gap: 25px;
    width:50%;
}
#text{
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 1px;
    text-indent: 25px;
    text-align: justify;
}
#info{
    display:flex;
    flex-direction:column;
    gap: 25px;
    color:darkcyan;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
}
#text{
    min-width:600px;
}
#info small{
    font-size: 24px;
    margin-bottom:15px;
    letter-spacing: 1px;
    font-weight: 700;
    
}
#animations{
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    z-index:0;

}

.ok, .not_ok{
    
    padding: 5px;
    border-radius: 5px;
    color:black;
}
.ok{
    background-color: greenyellow;
}
.not_ok{
    background-color: tomato;
}
#info small.dimension{
    font-size: 20px;
}
.bub{
    position: absolute;
    opacity: 0.5;
    font-size: 30px;
    color:black;
    width: 150px;
    height: 150px;
    border-radius: 50%;

    display:block;
}
.bub span{
    position:absolute;
}
#run_string{
    height:50px;
    overflow:hidden;
}
#run_string span {
    font-size: 36px;

}
#run_string span.win{
    color:green;
}
#run_string span.bad{
    color:tomato;
}

#run_sting span.good{
    color:yellowgreen;
}
#message{
    font-size:30px;
}